[submodule "bundle/better-snipmate-snippet"]
	path = bundle/better-snipmate-snippet
	url = https://github.com/vim-scripts/better-snipmate-snippet.git
[submodule "bundle/desert256.vim"]
	path = bundle/desert256.vim
	url = https://github.com/vim-scripts/desert256.vim.git
[submodule "bundle/desert-warm-256"]
	path = bundle/desert-warm-256
	url = https://github.com/vim-scripts/desert-warm-256.git
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
    url = https://github.com/honza/vim-snippets.git
[submodule "bundle/sudo-gui.vim"]
	path = bundle/sudo-gui.vim
    url = https://github.com/gmarik/sudo-gui.vim.git
[submodule "bundle/python-mode"]
	path = bundle/python-mode
    url = https://github.com/klen/python-mode.git
[submodule "bundle/Syntastic"]
	path = bundle/Syntastic
    url = https://github.com/vim-scripts/Syntastic.git
[submodule "bundle/vundle"]
	path = bundle/vundle
    url = git@github.com:gmarik/vundle.git
[submodule "bundle/superSnipMate"]
	path = bundle/superSnipMate
    url = https://github.com/vim-scripts/superSnipMate.git
[submodule "bundle/vim-snipmate"]
	path = bundle/vim-snipmate
    url = https://github.com/garbas/vim-snipmate.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
    url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/powerline"]
	path = bundle/powerline
    url = https://github.com/Lokaltog/powerline.git
[submodule "bundle/xterm-color-table.vim"]
	path = bundle/xterm-color-table.vim
    url = https://github.com/vim-scripts/xterm-color-table.vim.git
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
    url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
    url = https://github.com/airblade/vim-gitgutter.git
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
    url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/wombat256.vim"]
	path = bundle/wombat256.vim
    url = https://github.com/vim-scripts/wombat256.vim.git
